{
    "presets": [
        ["blueflag", {
          library: true,
          browser: true
        }]
    ],
    "ignore": [
        "example/**",
        "**/*-test.js"
    ],
    "env": {
      "test": {
        "plugins": [
          "istanbul"
        ]
      }
    }
}
